@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar-track {
  background: orange;        /* color of the tracking area */
}
body {
  scrollbar-width: thin;          /* "auto" or "thin" */
  scrollbar-color: blue orange;   /* scroll thumb and track */
}